<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>gyo’s MacBook Pro</string>
		<key>lastEditingUserName</key>
		<string>gyo shinkou</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2017-04-01T12:27:49Z</date>
	<key>dataHash</key>
	<string>c19e521f00ce16380321c428943209e57c0d151a</string>
	<key>displayName</key>
	<string>Index</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>index</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2017-04-01T12:30:01Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>7994ab9c-ac36-4ccc-8d92-8a25c1475b8c</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
