<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>gyo’s MacBook Pro</string>
		<key>lastEditingUserName</key>
		<string>gyo shinkou</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2017-04-01T12:30:01Z</date>
	<key>dataHash</key>
	<string>0bcab956a101db70797ae1af4c3c75cb7c98998f</string>
	<key>displayName</key>
	<string>Rails</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>rails</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2017-04-27T14:39:56Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>f5c64550-e43c-4e4c-b8ac-899f2306637c</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
