<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>gyo’s MacBook Pro</string>
		<key>lastEditingUserName</key>
		<string>gyo shinkou</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2017-04-22T13:55:43Z</date>
	<key>dataHash</key>
	<string>781ac873be1d6d1607e13d36690909285bdeab5d</string>
	<key>displayName</key>
	<string>nodejs</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>nodejs</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2017-04-22T13:58:20Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>2f98aebe-d862-4a1e-81ff-b139d131e527</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
