<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowPluginLinks</key>
	<true/>
	<key>bdToBookmarkAliasUpgrade</key>
	<true/>
	<key>createSpotlightIndex</key>
	<true/>
	<key>dbVersion</key>
	<string>7</string>
	<key>defaultPage</key>
	<string>Index</string>
	<key>defaultUUID</key>
	<string>7994ab9c-ac36-4ccc-8d92-8a25c1475b8c</string>
	<key>expectedPageCount</key>
	<integer>7</integer>
	<key>localWebAccess</key>
	<false/>
	<key>openWindows</key>
	<array>
		<dict>
			<key>displayUUID</key>
			<string>f5c64550-e43c-4e4c-b8ac-899f2306637c</string>
			<key>drawerOpen</key>
			<false/>
			<key>openUUIDProperties</key>
			<array>
				<dict>
					<key>itemUUID</key>
					<string>7994ab9c-ac36-4ccc-8d92-8a25c1475b8c</string>
					<key>rulerVisible</key>
					<false/>
					<key>selectedRange</key>
					<string>{45, 0}</string>
					<key>visibleGlyphs</key>
					<string>{0, 45}</string>
					<key>zoomScale</key>
					<real>1</real>
				</dict>
				<dict>
					<key>itemUUID</key>
					<string>f5c64550-e43c-4e4c-b8ac-899f2306637c</string>
					<key>rulerVisible</key>
					<false/>
					<key>selectedRange</key>
					<string>{263, 0}</string>
					<key>visibleGlyphs</key>
					<string>{0, 264}</string>
					<key>zoomScale</key>
					<real>1</real>
				</dict>
				<dict>
					<key>itemUUID</key>
					<string>739bcadd-0f3d-43b5-b9db-3bef69d7a40b</string>
					<key>rulerVisible</key>
					<false/>
					<key>selectedRange</key>
					<string>{215, 0}</string>
					<key>visibleGlyphs</key>
					<string>{0, 221}</string>
					<key>zoomScale</key>
					<real>1</real>
				</dict>
				<dict>
					<key>itemUUID</key>
					<string>e611b066-91c2-4752-8bfb-2ebe536edfc2</string>
					<key>rulerVisible</key>
					<false/>
					<key>selectedRange</key>
					<string>{21, 15}</string>
					<key>visibleGlyphs</key>
					<string>{0, 141}</string>
					<key>zoomScale</key>
					<real>1</real>
				</dict>
			</array>
			<key>windowFrame</key>
			<string>{{1222, -1080}, {960, 1058}}</string>
		</dict>
	</array>
	<key>skIndexVersion</key>
	<integer>7</integer>
	<key>updatedFMPageToRealUTIs</key>
	<true/>
	<key>updatedSpecialPages3</key>
	<true/>
	<key>uuid</key>
	<string>7e2c5797-c93f-4d80-a3b7-8a8f74a67948</string>
</dict>
</plist>
