<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>gyo’s MacBook Pro</string>
		<key>lastEditingUserName</key>
		<string>gyo shinkou</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2017-04-04T06:28:18Z</date>
	<key>dataHash</key>
	<string>94c81e3be9bb6a95495c6031405ad18678368b0c</string>
	<key>displayName</key>
	<string>ActiveSupport</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>activesupport</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2017-04-16T20:48:33Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>net.daringfireball.markdown</string>
	<key>uuid</key>
	<string>e611b066-91c2-4752-8bfb-2ebe536edfc2</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
