<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>gyo’s MacBook Pro</string>
		<key>lastEditingUserName</key>
		<string>gyo shinkou</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2017-04-24T07:15:19Z</date>
	<key>dataHash</key>
	<string>50314f97bb26a83d8c20fb7c2d49f89275448e70</string>
	<key>displayName</key>
	<string>vuejs</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>vuejs</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2017-04-25T07:34:36Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>9d4e98f9-dd5b-41f1-9627-64a11fc10d82</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
